@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Your own custom component styles */

nav ul li a {
  @apply mr-4 text-lg font-bold transition duration-300 hover:text-gray-500;
}
p {
  @apply mb-4;
}

/* h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(240, 7, 181), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
h1 {
  @apply font-bold text-4xl mb-1;
}
h2 {
  @apply font-bold text-2xl mb-1;
}
h3 {
  @apply font-bold text-xl mb-1;
}

@import 'tailwindcss/utilities';
